@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham-medium.eot');
    src: url('../fonts/gotham-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-medium.woff') format('woff'),
         url('../fonts/gotham-medium.ttf') format('truetype'),
         url('../fonts/gotham-medium.svg#gotham-medium') format('svg');
    font-weight: 400;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham-book.eot');
    src: url('../fonts/gotham-book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-book.woff') format('woff'),
         url('../fonts/gotham-book.ttf') format('truetype'),
         url('../fonts/gotham-book.svg#gotham-book') format('svg');
    font-weight: 100;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham-bold-webfont.eot');
    src: url('../fonts/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-bold-webfont.woff') format('woff'),
         url('../fonts/gotham-bold-webfont.ttf') format('truetype'),
         url('../fonts/gotham-bold-webfont.svg#gotham-bold-webfont') format('svg');
    font-weight: 700;
}
@font-face {
    font-family: 'Trade-Gothic';
    src: url('../fonts/tradegothicltstd-bdcn20-webfont.eot');
    src: url('../fonts/tradegothicltstd-bdcn20-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/tradegothicltstd-bdcn20-webfont.woff') format('woff'),
         url('../fonts/tradegothicltstd-bdcn20-webfont.ttf') format('truetype'),
         url('../fonts/tradegothicltstd-bdcn20-webfont.svg#tradegothicltstd-bdcn20-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}








.ios {
	height: 100vh;
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
	.ios {
		height: 1024px;
	}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
	.ios {
		height: 768px;
	}
}
@media screen and (device-aspect-ratio: 40/71) {
	.ios {
		height: 500px;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #F6F6F6 !important;
	line-height: normal;
	color: #979797;
	font-family: 'Gotham';
	font-weight: normal;
}

h1, h2, h3, h4, h5 {
	font-family: 'Trade-Gothic';
	text-align: center;
}

h2 {
	margin: 100px auto;
	display: block;
	position: relative;
	font-size: 4em;
}

h3 {
	font-size: 1em;
}
h3.subt {
	font-size: 1.2em;
}
h4 {
	font-size: 1.3em;
}

.navbar-brand {
	background-image: url("../imgs/logo.png");
	height: 100px;
	background-size: contain;
	width: 150px;
	background-position: center center;
	background-repeat: no-repeat;
	text-indent: -9999px;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	z-index: 99998;

}
.navbar-default .navbar-nav>li>a, .social a {
	color: white !important;
}
.navbar-default .navbar-nav>li>a:hover, .social a:hover {
	opacity: 0.7;
	color: white;
}
.social ul {
	text-align: right;
	padding: 15px 15px 0px 15px;
	margin: 0;
}
.social ul li {
	display: inline-block;
	list-style: none;
}
.social a {
	font-size: 1.2em;
	color: white;
	padding: 5px 5px 0px 5px;
	opacity: 0.6;
}

.lead {
	font-weight: initial;
}

@media (max-width: 767px) {
	.navbar-collapse * {
		text-align: center !important;
	}
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: transparent;
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
#big-video-wrap {
	overflow: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-position: center center;
	background-size: cover;
}
#big-video-vid video {
	left: 0;
}
#big-video-image {
	left: 0 !important;
}

.vidMain {
	display: block;
	position: relative;
	top: 0;
	margin-top: 0px;
	color: white;
	text-align: center;
}
.vidMain h1 {
	font-size: 2.3em;
	margin: 0 auto;
	margin-bottom: 0;
	letter-spacing: 2px;
}
.vidMain .lead {
	font-size: 2.5em;
}
.vidMain .btn {
	background: transparent;
	border: 3px solid white;
	border-radius: 0;
	font-size: 1em;
}
.vidMain .btn:hover {
	opacity: 0.8;
}
.vidContainer {
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background: black;
	color: black;
}
.vidContent {
	position: absolute;
	display: block;
	overflow: auto;
	padding: 45vh 20px 30px 20px;
	top: 0;
	width: 100%;
	font-size: 1.2em;
}

h1.hidden-xs{
	margin-top: -30px;
}

.btn-default {
	color: white !important;
	background-color: transparent;
}
.btn-default:hover {
	color: gray;
}

.wpsl-search {
  width: 55% !important;
  margin: auto;
  border: 1px solid gray;
  box-sizing: border-box;
  text-align: center;
}

#locate {
	padding-top: 100px;
}

.parContent {
	text-align: center;
	padding: 40px inherit;
	display: block;
	margin: 0;
	font-size: 1.4em;
}

.promo-inner,
.promo-front,
.promo-top,
.pimage {
	display: inline-block;
}
.promo-inner {
	position: relative;
}
.promo-top {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(1, 29, 62, 0.5);
	padding: 10px;
	opacity: 0;
	left: 0;
}
.promo-content {
	border: 1px solid white;
	display: table;
	width: 100%;
	height: 100%;
}
.promo-inside {
	display: table-cell;
	vertical-align: middle;
	color: white;
	text-align: center;
}

#mwy . {
	color: #ff6a29 !important;
}


	.promo-block:hover .promo-top,
	.promo-block.hover .promo-top {
		opacity: 1;
	}


	@media (max-width: 767px) {
		.promo-block .promo-top,
		.promo-block .promo-top {
			opacity: 1 !important;
		}
	}

.loading {
	background-image: url('http://sn.esadecreapolis.com/templates/base/images/loading.gif');
	background-position: center center;
	background-repeat: no-repeat;
}

.container-fluid .row {
	margin: 0;
}
.container-fluid .row > * {
	padding: 0;
}






/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
	/* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 100%;
	margin: 0 auto;
}
.cd-container:after {
	content: "";
	display: table;
	clear: both;
}

.cd-img-replace {
	/* replace text with background images */
	display: inline-block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */
.cd-product {
	text-align: center;
	margin-bottom: -5px;
}
.cd-product ul {
	margin: 0;
}

.cd-product-wrapper {
	display: inline-block;
	position: relative;
	margin: 0 auto;
	width: 100%;
}
.cd-product-wrapper > img {
	display: block;
}

.cd-single-point {
	position: absolute;
	border-radius: 50%;
}
.cd-single-point > a {
	position: relative;
	z-index: 2;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: inherit;
	background: #d95353;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	transition: background-color 0.2s;
}
.cd-product.col-left .cd-single-point > a {
	background-color: #FF6A28;
}
.cd-product.col-right .cd-single-point > a {
	background-color: #FF12DB;
}
.cd-single-point > a::after, .cd-single-point > a:before {
	/* rotating plus icon */
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-color: #ffffff;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.cd-single-point > a::after {
	height: 2px;
	width: 12px;
}
.cd-single-point > a::before {
	height: 12px;
	width: 2px;
}
.cd-single-point::after {
	/* this is used to create the pulse animation */
	content: '';
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: inherit;
	background-color: transparent;
	-webkit-animation: cd-pulse 2s infinite;
	-moz-animation: cd-pulse 2s infinite;
	animation: cd-pulse 2s infinite;
}
.cd-single-point:nth-of-type(1) {
	bottom: 40%;
	right: 30%;
}
.cd-single-point:nth-of-type(2) {
	bottom: 24%;
	right: 46%;
}
.cd-single-point:nth-of-type(3) {
	top: 28%;
	left: 20%;
}
.cd-single-point:nth-of-type(4) {
	top: 20%;
	right: 22%;
}
.cd-single-point.is-open > a {
	background-color: #475f74;
}
.cd-single-point.is-open > a::after, .cd-single-point.is-open > a::before {
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(135deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(135deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(135deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(135deg);
	transform: translateX(-50%) translateY(-50%) rotate(135deg);
}
.cd-single-point.is-open::after {
	/* remove pulse effect */
	display: none;
}
.cd-single-point.is-open .cd-more-info {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
	transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}
.cd-single-point.visited > a {
	background-color: #475f74;
}
/* .cd-single-point.visited::after {
	display: none;
} */
@media only screen and (min-width: 600px) {
	.cd-single-point.is-open .cd-more-info.cd-left {
		right: 140%;
	}
	.cd-single-point.is-open .cd-more-info.cd-right {
		left: 140%;
	}
	.cd-single-point.is-open .cd-more-info.cd-top {
		bottom: 140%;
	}
	.cd-single-point.is-open .cd-more-info.cd-bottom {
		top: 140%;
	}
}

@-webkit-keyframes cd-pulse {
	0% {
		-webkit-transform: scale(1);
		box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
	}
	50% {
		box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
	}
	100% {
		-webkit-transform: scale(1.6);
		box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
	}
}
@-moz-keyframes cd-pulse {
	0% {
		-moz-transform: scale(1);
		box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
	}
	50% {
		box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
	}
	100% {
		-moz-transform: scale(1.6);
		box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
	}
}
@keyframes cd-pulse {
	0% {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
		box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
	}
	50% {
		box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
	}
	100% {
		-webkit-transform: scale(1.6);
		-moz-transform: scale(1.6);
		-ms-transform: scale(1.6);
		-o-transform: scale(1.6);
		transform: scale(1.6);
		box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
	}
}
.cd-single-point .cd-more-info {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	text-align: left;
	line-height: 1.5;
	background-color: rgba(255, 255, 255, 0.95);
	padding: 2em 1em 1em;
	visibility: hidden;
	opacity: 0;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s, -webkit-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
	transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s, top 0.3s 0s, bottom 0.3s 0s, left 0.3s 0s, right 0.3s 0s;
}
.cd-single-point .cd-more-info::before {
	/* triangle next to the interest point description - hidden on mobile */
	content: '';
	position: absolute;
	height: 0;
	width: 0;
	display: none;
	border: 8px solid transparent;
}
.cd-single-point .cd-more-info h2 {
	font-size: 22px;
	font-size: 1.375rem;
	margin-bottom: .6em;
}
.cd-single-point .cd-more-info p {
	color: #758eb1;
}
@media only screen and (min-width: 600px) {
	.cd-single-point .cd-more-info {
		position: absolute;
		width: 220px;
		height: 240px;
		padding: 1em;
		overflow-y: visible;
		line-height: 1.4;
		border-radius: 0.25em;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	}
	.cd-single-point .cd-more-info::before {
		display: block;
	}
	.cd-single-point .cd-more-info.cd-left, .cd-single-point .cd-more-info.cd-right {
		top: 50%;
		bottom: auto;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.cd-single-point .cd-more-info.cd-left::before, .cd-single-point .cd-more-info.cd-right::before {
		top: 50%;
		bottom: auto;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.cd-single-point .cd-more-info.cd-left {
		right: 160%;
		left: auto;
	}
	.cd-single-point .cd-more-info.cd-left::before {
		border-left-color: rgba(255, 255, 255, 0.95);
		left: 100%;
	}
	.cd-single-point .cd-more-info.cd-right {
		left: 160%;
	}
	.cd-single-point .cd-more-info.cd-right::before {
		border-right-color: rgba(255, 255, 255, 0.95);
		right: 100%;
	}
	.cd-single-point .cd-more-info.cd-top, .cd-single-point .cd-more-info.cd-bottom {
		left: 50%;
		right: auto;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.cd-single-point .cd-more-info.cd-top::before, .cd-single-point .cd-more-info.cd-bottom::before {
		left: 50%;
		right: auto;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.cd-single-point .cd-more-info.cd-top {
		bottom: 160%;
		top: auto;
	}
	.cd-single-point .cd-more-info.cd-top::before {
		border-top-color: rgba(255, 255, 255, 0.95);
		top: 100%;
	}
	.cd-single-point .cd-more-info.cd-bottom {
		top: 160%;
	}
	.cd-single-point .cd-more-info.cd-bottom::before {
		border-bottom-color: rgba(255, 255, 255, 0.95);
		bottom: 100%;
	}
	.cd-single-point .cd-more-info h2 {
		font-size: 20px;
		font-size: 1.25rem;
		margin-bottom: 0;
	}
	.cd-single-point .cd-more-info p {
		font-size: 14px;
		font-size: 0.875rem;
	}
}

/* close the interest point description - only on mobile */
.cd-close-info {
	position: fixed;
	top: 0;
	right: 0;
	height: 44px;
	width: 44px;
}
.cd-close-info::after, .cd-close-info:before {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
	background-color: #475f74;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.cd-close-info::after {
	height: 2px;
	width: 16px;
}
.cd-close-info::before {
	height: 16px;
	width: 2px;
}
@media only screen and (min-width: 600px) {
	.cd-close-info {
		display: none;
	}
}




.hash-features {
	margin: 0px auto 40px auto;
	font-size: 3.2em;
	/*background: -webkit-linear-gradient(left, #ff6a29 0%, #ff6a29 40%, #fa11db 60%, #fa11db 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
	color: #011D3E;
	text-align: center;
}

.block-item {
	margin: 20px 15px 20px 15px; /*estaba en auto el top*/
	font-size: 1.4em;
	position: relative;
}
.block-item:not(:last-child):after {
	content: '';
	width: 20%;
	position: absolute;
	bottom: 30px;
	height: 5px;
	display: block;
	left: 40%;
	right: 40%;
}

.color-m .block-item:not(:last-child):after {
	background-color: #FF6A29;
}
.color-w .block-item:not(:last-child):after {
	background-color: #0A1B3B;
}

.block-item p {
	font-size: 0.7em;
	margin: 5px auto 20px auto;
	text-transform: uppercase;
	width: 40%;
	text-align: center;
}

gform_wrapper {
	width: 100%;
	vertical-align: middle;
}

.mail-block {
	text-align: center;
	border: 2px solid white;
	width: 250px;
	height: 250px;
	font-size: 1.2em;
	margin: 0px auto 2px auto;
	display: table;
	cursor: pointer;
	background-color: #F0F0F0;
	background-image: url("../imgs/mail-bg.jpg");
	background-position: bottom center;
	background-size: cover;
	border: 0;
}
.visible-xs > .mail-block {
	/*margin-top: 100px;*/
}
.mail-block p {
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	width: 250px;
}


.img-block {
	margin: 100px auto;
	position: relative;
}
.img-block img {
	width: 100%;
}
.img-block:after {
	content: '';
	width: 80%;
	height: 100%;
	position: absolute;
	top: -10%;
	left: 10%;
	border: 6px solid white;
}

.p-block {
	text-align: center;
	margin: 100px 60px;
	font-size: 1.5em;
	text-transform: uppercase;
}

.color-m {
	color: #FF6A29;
}
.color-m .img-block:after {
	border-color: #FF6A29;
}
.color-m .quote-block {
	background-color: #FF6A29;
	color: white;
	text-align: center;
	padding: 15px;
	margin: 40px auto;
	position: relative;
	min-height: 330px;
	display: table;
	width: 100%;
	font-size: 2.6em;
}
.color-m .quote {
	display: table-cell;
	vertical-align: middle;
}
.color-m .quote-block:after {
	content: '';
	width: 80%;
	height: 100%;
	position: absolute;
	top: 10%;
	left: 0;
	border: 6px solid white;
}

.color-w {
	color: #0A1B3B;
}
.color-w .img-block:after {
	border-color: #0A1B3B;
}
.color-w .quote-block {
	background-color: #0A1B3B;
	color: white;
	text-align: center;
	padding: 15px;
	margin: 0px auto 30px auto;
	overflow: hidden;
	position: relative;
	min-height: 330px;
	display: table;
	width: 100%;
	font-size: 2.6em;
}
.color-w .quote {
	display: table-cell;
	vertical-align: middle;
}
.color-w .quote-block:after {
	content: '';
	width: 80%;
	height: 100%;
	position: absolute;
	top: -15%;
	right: 0;
	border: 6px solid white;
}

.nav-tabs {
  margin: 0;
}
.nav-tabs li {
  width: 50%;
  display: table;
}
.nav-tabs li a {
	border-radius: 0;
	margin: 0;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	height: 300px;
}
.nav-tabs .color-m, .nav-tabs .color-m > * {
	background-color: #FF6A29 !important;
}
.nav-tabs .color-w, .nav-tabs .color-w > * {
	background-color: #0A1B3B !important;
}
.nav-tabs li a {
	color: white;
	outline: 0;
}
.nav-tabs li.clicked {
	background-color: transparent;
}
.nav-tabs li.clicked a {
	height: initial;
	color: #ddd;
}
.nav-tabs li.active a {
	color: white !important;
}

.nav-tabs>li>a, .nav-tabs>li>a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	border: 0;
}

.visible-xs .nav-tabs li a {
	font-size: 1.6em;
}

.visible-xs .quote-block:after {
	display: none;
}

.visible-xs .color-m h2 {
	background: #FF6A29;
	color: white;
	margin-top: 10px;
	margin-bottom: 0px;
	display: table;
	width: 100%;
}
.visible-xs .color-m h2 span {
	display: table-cell;
	height: 200px;
	vertical-align: middle;
	width: 100%;
}

.visible-xs .color-w h2 {
	background: #0A1B3B;
	color: white;
	margin-top: 10px;
	margin-bottom: 0px;
	display: table;
	width: 100%;
}
.visible-xs .color-w h2 span {
	display: table-cell;
	height: 200px;
	vertical-align: middle;
	width: 100%;
}
.visible-xs .img-block {
	margin-top: 0px;
	margin-bottom: 0px;
}
.visible-xs .img-block:after {
	top: 18%;
	height: 114%;
}
.visible-xs .quote-block {
	background: transparent;
	min-height: 120px;
	margin-top: 0;
	line-height: normal;
}



		/* simple */
		.flip-container {
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			-ms-perspective: 1000;
			perspective: 1000;

			-ms-transform: perspective(1000px);
			-moz-transform: perspective(1000px);
    			-moz-transform-style: preserve-3d; 
    			-ms-transform-style: preserve-3d; 

		}

			/*
			.flip-container:hover .flipper, .flip-container.hover .flipper, #flip-toggle.flip .flipper {
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				-ms-transform: rotateY(180deg);
				transform: rotateY(180deg);
				filter: FlipH;
    			-ms-filter: "FlipH";
			}
			*/


			/* START: Accommodating for IE */
						.flip-container:not(.promo-block):hover .back, .flip-container:not(.promo-block).hover .back {
			    -webkit-transform: rotateY(0deg);
			    -moz-transform: rotateY(0deg);
			    -o-transform: rotateY(0deg);
			    -ms-transform: rotateY(0deg);
			    transform: rotateY(0deg);
			}

			.flip-container:not(.promo-block):hover .front, .flip-container:not(.promo-block).hover .front {
			    -webkit-transform: rotateY(180deg);
			    -moz-transform: rotateY(180deg);
			    -o-transform: rotateY(180deg);
			    transform: rotateY(180deg);
			}


						.flip-container.promo-block:hover .back, .flip-container.promo-block.hover .back {
				opacity: 1;
			/*    -webkit-transform: rotateY(0deg);
			    -moz-transform: rotateY(0deg);
			    -o-transform: rotateY(0deg);
			    -ms-transform: rotateY(0deg);
			    transform: rotateY(0deg);*/
			}

			.flip-container.promo-block:hover .front, .flip-container.promo-block.hover .front {
				opacity: 0;
			/*    -webkit-transform: rotateY(180deg);
			    -moz-transform: rotateY(180deg);
			    -o-transform: rotateY(180deg);
			    transform: rotateY(180deg);*/
			}




		
		/* END: Accommodating for IE */

		.flip-container, .front, .back {
			width: 320px;
			height: 427px;
		}

		.flipper {
			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;
			-ms-transition: 0.6s;

			-moz-transition: 0.6s;
			-moz-transform: perspective(1000px);
			-moz-transform-style: preserve-3d;
			-ms-transform-style: preserve-3d;

			transition: 0.6s;
			transform-style: preserve-3d;

			position: relative;
		}

		.front, .back {
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			-ms-backface-visibility: hidden;
			backface-visibility: hidden;

		    -webkit-transition: 0.6s;
		    -webkit-transform-style: preserve-3d;
		    -webkit-transform: rotateY(0deg);

		    -moz-transition: 0.6s;
		    -moz-transform-style: preserve-3d;
		    -moz-transform: rotateY(0deg);

		    -o-transition: 0.6s;
		    -o-transform-style: preserve-3d;
		    -o-transform: rotateY(0deg);

		    -ms-transition: 0.6s;
		    -ms-transform-style: preserve-3d;
		    -ms-transform: rotateY(0deg);

		    transition: 0.6s;
		    transform-style: preserve-3d;
		    transform: rotateY(0deg);

			position: absolute;
			top: 0;
			left: 0;
		}

		.promo-block .front {
			-webkit-transform: rotateY(0deg);
			-ms-transform: rotateY(0deg);
			z-index: 2;
		}

		.promo-block .back {
			/*-webkit-transform: rotateY(-180deg);
		    -moz-transform: rotateY(-180deg);
		    -o-transform: rotateY(-180deg);
		    -ms-transform: rotateY(-180deg);
		    transform: rotateY(-180deg);*/
		}

		.flip-container:not(.promo-block) .front {
			-webkit-transform: rotateY(0deg);
			-ms-transform: rotateY(0deg);
			z-index: 2;
		}

		.flip-container:not(.promo-block) .back {
			-webkit-transform: rotateY(-180deg);
		    -moz-transform: rotateY(-180deg);
		    -o-transform: rotateY(-180deg);
		    -ms-transform: rotateY(-180deg);
		    transform: rotateY(-180deg);
		}

		.front .name {
			font-size: 2em;
			display: inline-block;
			background: rgba(33, 33, 33, 0.9);
			color: #f8f8f8;
			font-family: Courier;
			padding: 5px 10px;
			border-radius: 5px;
			bottom: 60px;
			left: 25%;
			position: absolute;
			text-shadow: 0.1em 0.1em 0.05em #333;
			display: none;

			-webkit-transform: rotate(-20deg);
			-moz-transform: rotate(-20deg);
			-ms-transform: rotate(-20deg);
			transform: rotate(-20deg);
		}

		.back-logo {
			position: absolute;
			top: 40px;
			left: 90px;
			width: 160px;
			height: 117px;
			background: url(logo.png) 0 0 no-repeat;
		}

		.back-title {
			font-weight: bold;
			color: #00304a;
			position: absolute;
			top: 180px;
			left: 0;
			right: 0;
			text-align: center;
			text-shadow: 0.1em 0.1em 0.05em #acd7e5;
			font-family: Courier;
			font-size: 22px;
		}

		.back p {
			position: absolute;
			bottom: 40px;
			left: 0;
			right: 0;
			text-align: center;
			padding: 0 20px;
			font-size: 18px;
		}

		/* vertical */
		.vertical.flip-container {
			position: relative;
		}

			.vertical .back {
				-webkit-transform: rotateX(180deg);
				-moz-transform: rotateX(180deg);
				-ms-transform: rotateX(180deg);
				transform: rotateX(180deg);
			}

			.vertical.flip-container .flipper {
				-webkit-transform-origin: 100% 213.5px;
				-moz-transform-origin: 100% 213.5px;
				-ms-transform-origin: 100% 213.5px;
				transform-origin: 100% 213.5px;
			}

			/*
			.vertical.flip-container:hover .flipper {
				-webkit-transform: rotateX(-180deg);
				-moz-transform: rotateX(-180deg);
				-ms-transform: rotateX(-180deg);
				transform: rotateX(-180deg);
			}
			*/

			/* START: Accommodating for IE */
			.vertical.flip-container:hover .back, .vertical.flip-container.hover .back {
			    -webkit-transform: rotateX(0deg);
			    -moz-transform: rotateX(0deg);
			    -o-transform: rotateX(0deg);
			    -ms-transform: rotateX(0deg);
			    transform: rotateX(0deg);
			}

			.vertical.flip-container:hover .front, .vertical.flip-container.hover .front {
			    -webkit-transform: rotateX(180deg);
			    -moz-transform: rotateX(180deg);
			    -o-transform: rotateX(180deg);
			    transform: rotateX(180deg);
			}
		/* END: Accommodating for IE */




.back p > * {
	margin: 5px auto;
}

.mail-block {
    padding-left: 25%;
    padding-right: 25%;
}

.mail-block strong {
    font-size: 5em;
    display: block;
    line-height: 1em;
}

.flip-container, .front, .back {
   width: 100%;
   height: 250px;
}
.front, .back {
  width: 100%;
  height: 100%;
  position: relative;
  display: table;
	padding-left: 3px;
	padding-right: 3px;
}
.flipper {
	height: 100%;
}
.back {
  top: 0px;
  position: absolute;
}

.gfield_label {
}

.ginput_container input {
	width: 80% !important;
}

.gform_wrapper {
	text-align: center;
}
.gform_body {
	text-align: center;
}
.gform_body > * {
	text-align: center;
	margin: auto;
}

.gform_footer {
	text-align: center;
}

.ginput_container input {
	width: 100%;
}

nav.affix {
  background-color: rgba(0,0,0,0.1);
}

.navbar button {
	margin-top: 32px;
}

.navbar {
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: white;
}
.navbar-toggle {
	border-width: 2px;
}

@media (max-width: 600px) {
	.img-block:after {
	  height: 110%;
	}
	.visible-xs .img-block:after {
		top: 16%;
	}
}

.navbar-nav {
	font-size: 1.3em;
}

@media (min-width: 768px) {
	.navbar-nav {
		position: relative;
	}
	.navbar-nav > li:not(:first-of-type):after {
		content: '';
		width: 1px;
		height: 20px;
		background-color: white;
		position: absolute;
		left: 0;
		top: 15px;
	}
}

.fa {
  font-size: 1.2em;
  text-align: center;
}

.footer {
	background: #011D3E;
	color: #B0B2B6;
	padding-top: 15px;
	padding-bottom: 15px;
}
.footer ul {
	margin: 10px auto;
	padding: 0;
	list-style: none;
}
.footer ul li {
	display: inline-block;
}
.footer ul li a {
	font-size: 0.8em;
	color: white;
}
.footer ul li a:hover, .footer ul li a:focus {
	font-size: 0.8em;
	color: #bbb;
	text-decoration: none;
}
.footer img {
	display: block;
}

#wpsl-gmap img[src*="red@2x"] {
    display: none !important;
}
.wpsl-directions {
	display: none !important;
}
.wpsl-input {
	width: initial !important;
}
#wpsl-radius, #wpsl-results {
	display: none !important;
}

.mwy .vidContent {
	padding: 25vh 20px 30px 20px;
}
.mwy .vidContent h1 img {
	width: 60%;
	max-width: 360px;
}
.mwy .vidContent p {
	font-size: 1.8em;
}
.mwy .parContent {
	color: #001c41;
}
.mwy .parContent p {
	font-size: 1.2em;
}


.gforms_confirmation_message {
	display: table-cell;
	vertical-align: middle;
}
.validation_error {
	display: none;
}
.gfield_error {
	background: transparent !important;
	border: 0 !important;
	width: 100% !important;
}
.gfield_error .gfield_label {
	font-size: 0.9em !important;
}
.gform_wrapper .gform_footer {
	margin: 0;
	padding-top: 0;
}

@media (min-width: 768px) {
	.promos {
		position: relative;
		min-height: 1800px;
		margin-bottom: 0px;

		/* BORRAR */
/*		background-image: url("http://dev-moveswithyou.flockos.com/wp-content/themes/aeo/imgs/acomodo_dinamica.jpg");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center center;*/
	}
	.promo-block {
		display: inline-block;
		width: 320px;
		-webkit-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.5);
		   -moz-box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.5);
				box-shadow: 3px 3px 7px 0px rgba(0,0,0,0.5);
	}
	.bg-block {
		background-color: #FF6A28;
		width: 300px;
		height: 200px;
		color: #FF6A28;
	}
	.promo-block:nth-child(1) {
		position: absolute;
		left: 20%;
		top: 3%;
		-webkit-transform: scale(0.8);
			-ms-transform: scale(0.8);
				transform: scale(0.8);
	}
	.promo-block:nth-child(2) {
		position: absolute;
		right: 64%;
		top: 10%;
		-webkit-transform: scale(0.9);
			-ms-transform: scale(0.9);
				transform: scale(0.9);
	}
	.promo-block:nth-child(3) {
		position: absolute;
		left: 52%;
		top: 10%;
		-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
				transform: scale(1.2);
	}
	.promo-block:nth-child(4) {
		position: absolute;
		right: 56%;
		top: 22%;
		-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
				transform: scale(1.2);
	}
	.promo-block:nth-child(5) {
		position: absolute;
		left: 49%;
		top: 24%;
		-webkit-transform: scale(0.8);
			-ms-transform: scale(0.8);
				transform: scale(0.8);
	}
	.promo-block:nth-child(6) {
		position: absolute;
		right: 42%;
		top: 33%;
		-webkit-transform: scale(1);
			-ms-transform: scale(1);
				transform: scale(1);
	}
	.promo-block:nth-child(7) {
		position: absolute;
		left: 70%;
		top: 36%;
		-webkit-transform: scale(1.3);
			-ms-transform: scale(1.3);
				transform: scale(1.3);
	}
	.promo-block:nth-child(8) {
		position: absolute;
		right: 56%;
		top: 44%;
		-webkit-transform: scale(1);
			-ms-transform: scale(1);
				transform: scale(1);
	}
	.promo-block:nth-child(9) {
		position: absolute;
		left: 43%;
		top: 51%;
		-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
				transform: scale(1.2);
	}
	.promo-block:nth-child(10) {
		position: absolute;
		right: 65%;
		top: 58%;
		-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
				transform: scale(1.2);
	}
	.promo-block:nth-child(11) {
		position: absolute;
		left: 63%;
		top: 62%;
		-webkit-transform: scale(1);
			-ms-transform: scale(1);
				transform: scale(1);
	}
	.promo-block:nth-child(12) {
		position: absolute;
		right: 34%;
		top: 71%;
		-webkit-transform: scale(1);
			-ms-transform: scale(1);
				transform: scale(1);
	}
	.promo-block:nth-child(13) {
		position: absolute;
		left: 60%;
		top: 80%;
		-webkit-transform: scale(1);
			-ms-transform: scale(1);
				transform: scale(1);
	}
	.promo-block:nth-child(14) {
		position: absolute;
		right: 57%;
		top: 80%;
		-webkit-transform: scale(1);
			-ms-transform: scale(1);
				transform: scale(1);
	}
	.promo-block:nth-child(15) {
	}
}

.vjs-control-bar {
	display: none !important;
}

@media (max-width: 767px) {
	.color-m .quote-block .quote {
		color: #ff6a29 !important;
	}
	.color-w .quote-block .quote {
		color: #fa11db !important;
	}
}

@media (min-width: 768px) {
	#map {
		display: inline-block;
		width: 66% !important;
	}
	#map_sidebar {
		display: inline-block;
		margin: auto 2% auto 2%;
		width: 30%;
		float: left;
		max-height: 250px;
		overflow: auto;
	}
	#searchForm {
		display: block;
		clear: both;
		margin-top: 10px;
		overflow: auto;
	}
}

@media (max-width: 767px) {
	#map {
		box-sizing: border-box;
		border: 0;
		border-left: 50px solid #F6F6F6;
		border-right: 50px solid #F6F6F6;
	}
}

.brand-block {
  border: 0;
  width: 100%;
}
.brand-block p {
	font-size: 1.1em;
}
.color-m .brand-block h4, .color-m .brand-block h5 {
	color: #FF6A29;
}
.brand-block p {
	color: #011D3E !important;
}
.brand-block .front h4 {
  display: table-cell;
  vertical-align: middle;
  font-size: 2.5em;
}
.brand-block .back p {
	width: 100%;
	vertical-align: middle;
	display: table-cell;
	height: initial;
	position: relative;
	top: inherit;
}
.gform_wrapper {
  vertical-align: middle;
  display: table-cell;
}

#searchForm {
  width: 60%;
  margin: 10px auto;
  border: 3px solid #011D3E;
  padding: 15px;
  display: flex;
  width: auto;
  margin: 10px auto;
  display: table;
}
#searchForm #addy_in_radius {
	display: none !important;
}

.slp_result_directions {
	display: none !important;
}


.promo-block {
  height: initial;
  border: 0;
}
.promo-block, .promo-block * {
	text-transform: uppercase !important;
}
.promo-block .back {
	position: relative;
	background-color: #011D3E;
	height: 100%;
  top: 0;
  position: absolute;
  height: 100%;
  display: block;
  padding: 5px;
}
.promo-block .back p {
	width: 100%;
	vertical-align: middle;
	display: table-cell;
	height: initial;
	position: relative;
	top: 0;
}
.promo-block .promo-inside {
	width: 100%;
	display: table;
	height: 100%;
}
.bg-block {
	height: initial;
	border: 0;
	min-height: 190px;
}

.search_item {
	float: right !important;
	clear: none !important;
	margin-top: 20px !important;
}

#search_by_tag, #addy_in_city {
	display: inline-block !important;
	float: left !important;
	clear: none;
	margin-top: 0px !important;
}

.promo-block:not(.bg-block):hover {
  z-index: 99997;
}

.promo-block .front {
	padding: 0;
}

.promo-block.flip-container.ratioLand {
	width: 350px;
	height: auto;
}
.promo-block.flip-container.ratioPort {
	width: 250px;
	height: auto;
}
.promo-block.flip-container.ratioSquare {
	width: 250px;
	height: auto;
}

@media (max-width: 767px) {
	.promo-inside p {
	  vertical-align: middle;
	  display: table-cell;
	  font-size: 1.5em;
	}
	.promo-block, .promo-inner, .promo-front, .pimage, .pimage img {
	  height: 180px;
	  width: 100%;
	}
}

#locate #sl_div * {
}

#locate .parContent {
	padding-bottom: 20px;
}
#locate .parContent .subt {
	font-size: 1.5em;
	font-family: 'Gotham' !important;
}

.location_name {
	color: #011D3E !important;
}

#slp_bubble_directions {
	display: none !important;
}

.esp .flip-container, .esp .front, .esp .back {
	width: 100%;
}
.esp .mail-block p {
	font-size: 1.4em;
}
.esp * {
  color: #011D3E !important;
}


@media (min-width: 768px) {
	.navbar-nav {
		margin-top: 25px;
	}
}

@media (max-width: 767px) {
	nav {
	  background-color: #011D3E !important;
	}
	button, input[type="button"], input[type="reset"], input[type="submit"] {
		box-shadow: none !important;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	  background-color: transparent;
	}
}

.navbar-default .navbar-nav>li>a:hover, .social a:hover {
	opacity: 1;
}
.navbar-default .navbar-nav>li {
		position: relative;
}
.navbar-default .navbar-nav>li>a:hover:after,
.navbar-default .navbar-nav>li.active>a:after {
		content: '';
		width: 84%;
		height: 2px;
		background-color: white;
		display: block;
		position: absolute;
		bottom: 11px;
		left: 8%;
}


@media (max-width: 767px) {
	.navbar-default .navbar-nav>li>a:hover:after,
	.navbar-default .navbar-nav>li.active>a:after {
			bottom: 0px !important;
	}
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
}




@media (min-width: 768px) {
.promo-block .back .pimag {
	opacity: 0;
	  position: absolute;
	  top: 0;
	  left: 0;
}
.promo-block .back .promo-content {
	position: absolute;
	width: 90%;
	left: 5%;
	height: 90%;
	top: 5%;
}
h1 img {
  width: 90%;
  max-width: 800px;
  padding: 20px inherit 0px inherit;
}
}



.brand-block {
  padding: 30px initial;
  min-height: 250px;
}
.brand-block h5 {
	font-size: 2em;
	margin: 0;
}
.brand-block h4 {
  font-size: 2.5em;
  padding: 5px 0px 5px 0px;
  width: 85%;
  margin: 0 auto 15px auto;
}
.brand-block p {
	font-weight: 100;
  font-size: 0.9em;
  width: 80%;
  line-height: normal;
  padding-bottom: 20px;
}

.results_entry {
  padding: 15px;
}


.party {
	text-transform: uppercase;
    background-color: #FF6739;
    display: block;
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 1.6em;
    line-height: normal;
    font-style: italic;
    cursor: pointer !important;
}
.party b {
	font-size: 1.1em;
}
.party strong {
    text-decoration: underline;
    font-size: 1.2em;
}
.party:hover {
    color: white;
    text-decoration: none;
}
.party small {
    display: block;
}

#partyModal .modal-content {
	border-radius: 0;
}
#partyModal .modal-body {
    background-color: #FF6739;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 50px;
}
#partyModal h5 {
    font-size: 1.8em;
    font-family: inherit;
}
#partyModal p {
    font-size: 1.2em;
    line-height: normal;
}

@media (max-width: 640px) {

	.bh-sl-loc-list{
		width: 100% !important;
	}	

	.bh-sl-map, .bh-sl-form-container{
		padding-left: 0px;
		width: 96% !important;
		margin: 0 2% !important;
	}	

	.bh-sl-container .bh-sl-map-container {
		width: 100% !important;
		padding-right: 0px !important;
	}

	#map-container, .bh-sl-container .bh-sl-loc-list{
		height: auto !important;
	}

	.vidContent {
	padding: 38vh 20px 30px 20px;
	}
}



@media (min-width: 10px) {
div#sl_div div#map {
	display: inline-block !important;
	float: right !important;
}


.vidContent .visible-xs h1 img {
	height: auto;
	width: 90%;
	max-width: 450px;
}

.bh-sl-container .loc-name {
	color: #011D3E !important;
}

.bh-sl-container {
	width: 100% !important;
	margin-left: 0 !important;
}

.bh-sl-container .bh-sl-map-container {
	width: 100% !important;
	padding-right: 15px;
}

.bh-sl-container button {
	margin: 12px 12px 12px 12px !important;
	background: #001D3B !important;
	box-shadow: none !important;
	border: 1px solid #001D3B !important;
}

.bh-sl-container .bh-sl-filters-container .bh-sl-filters {
  margin-right: 15px !important;
}

.bh-sl-container .bh-sl-filters-container {
  width: initial !important;
  display: inline-block !important;
  position: relative !important;
  border: 2px solid #001D38 !important;
  padding: 15px !important;
  margin: auto !important;
  position: relative !important;
  float: none !important;
}

#bh-sl-user-location {
text-align: center !important;
height: initial !important;
position: relative !important;
display: block !important;
overflow: auto !important;
}


.bh-sl-filters h3 {
  margin: initial !important;
}

.bh-sl-container * {
  font-family: 'Gotham' !important;
}
}



.parContent p {
    margin: 30px auto;
    font-weight: 600;
    font-size: 1em;
    line-height: normal;
}


.pimage img {
	object-fit: cover;
}


.promo-block .flipper {
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
		-ms-transition: 0.5s;
		 -o-transition: 0.5s;
			transition: 0.5s;
}

.promo-block .front, .promo-block .back {
	-webkit-transition: 0.5s;
	   -moz-transition: 0.5s;
		-ms-transition: 0.5s;
		 -o-transition: 0.5s;
			transition: 0.5s;
}

.navbar-fixed-bottom, .navbar-fixed-top {
	z-index: 5000 !important;
}

.front .pimag:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    -webkit-box-shadow: inset 200px 200px 300px 200px rgba(1,29,62,0.4);
       -moz-box-shadow: inset 200px 200px 300px 200px rgba(1,29,62,0.4);
            box-shadow: inset 200px 200px 300px 200px rgba(1,29,62,0.4);
    -webkit-filter: blur(0px) brightness(1.1) contrast(1.1) grayscale(0.48) hue-rotate(0deg) invert(0.1) opacity(50%) saturate(8.3) sepia(0.5) drop-shadow(0px 0px 5px #000)
}


.modal {
	z-index: 9999;
}
